------------------------------------------------Non acedemic application requirements---------------------------------------------------------------------------------

1. Post
2. Name in Full
3. Whether Mr./Mrs./Miss
4. Postal Address
5. Telephone Number
6. N.I.C. Number
7. Date of Birth
8. Age as at closing date of Application(Y/M/D)
9. Civil Status
10. State whether citizen of Sri Lanka by Descent or Registration. If by registration, give Registration No. 
11. State whether Sinhala, Tamil, person of Indian Origin or Muslim
12. Educational Qualification
	|_G.C.E.(O/L)
		|_ Sujects Passed       Grade
		1. ..............	.....
		2. ..............	.....
		3. ..............	.....
		4. ..............	.....
		5. ..............	.....
		6. ..............	.....
		7. ..............	.....
		8. ..............	.....
		9. ..............	.....
	|_G.C.E.(A/L)
		|_ Sujects Passed       Grade
		1. ..............	.....
		2. ..............	.....
		3. ..............	.....
		4. ..............	.....
13. University of Education (Degrees, Diplomas, etc)
14. Professional Qualifications
15. State period of experience relevant to the post applied 
16. External Activities 


------------------------------------------------ acedemic application requirements---------------------------------------------------------------------------------
1. Post
2. Subject
3. Department
4. Faculty
5. Full Name of the Applicant (Last name first)
6. Name with Initials
7. Civil Status (can tick in this boxes -- Reverend, Male, Female, Married, Unmarried, Widower)
8. N.I.C. Number
9. Present Address
10. Permanent Address
11. Telephone for Present Address
12. Telephone for Permanent Address
13. Date of Birth((y/m/d)
14. Age as at Closing date(y/m/d)
15. Citizenship of the Applicant
16. How the Sri Lankan Citizenship is obtained
	|_by descent
	|_by registration (if by registration, given reference number & date of certificate of citizenship )
17. Educational Qualification
	|_Secondary Education
			School      	  From		   To		Examination Passed
		1. ..............	.........	.........      ....................
		2. ..............	.........	.........	....................
		3. ..............	.........	.........	....................
		4. ..............	.........	.........	....................
	|_Higher Education
			Institute      	  From		   To		Degrees Obtained	Class 	Year	Index No.
		1. ..............	.........	.........      ....................	.....	....	..........
		2. ..............	.........	.........	....................	.....	....	..........
		3. ..............	.........	.........	....................	.....	....	..........
		4. ..............	.........	.........	....................	.....	....	..........
18. Subject offered for the first degree
	1. ..............	
	2. ..............	
	3. ..............	
	4. ..............
19. Subjects for any additional degree
	1. ..............	
	2. ..............	
	3. ..............	
	4. ..............
20. Other Diplomas, Memberships, Fellowships, etc.
		Institution      	Diploma etc.	  Year
		1. ..............	..........	.........    
		2. ..............	.........	.........	
		3. ..............	.........	.........	
		4. ..............	.........	.........	
21. Professional Qualifications
		    Institution      	  From		   To		Examination Passed or Degree Obtained
		1. ..............	.........	.........      ....................
		2. ..............	.........	.........	....................
		3. ..............	.........	.........	....................
		4. ..............	.........	.........	....................
22. Proficiency in Sinhala/Tamil/English
	Ability to work 
		|_ Sinhala   very_good	good	fair	No_Knowladge
		|_ Tamil     very_good	good	fair	No_Knowladge
		|_ English   very_good	good	fair	No_Knowladge
	Ability to teach 
		|_ Sinhala   very_good	good	fair	No_Knowladge
		|_ Tamil     very_good	good	fair	No_Knowladge
		|_ English   very_good	good	fair	No_Knowladge
23. Knowladge about other languages
	Language      	 Ability to speak	Ability to Read		Ability to write
	1.........	very_good/good/fair	very_good/good/fair	very_good/good/fair
	2.........	very_good/good/fair	very_good/good/fair	very_good/good/fair
	3.........	very_good/good/fair	very_good/good/fair	very_good/good/fair
	4.........	very_good/good/fair	very_good/good/fair	very_good/good/fair
	
24. Employement record
	Post held	Institution	from 	to	Last Monthly salary recived
	.........	...........	....	.....	...........................
	.........	...........	....	.....	...........................
	.........	...........	....	.....	...........................
	.........	...........	....	.....	...........................
	.........	...........	....	.....	...........................
25. Experience relavant to the post applied for 
26. Deatils of research and publications
27. Special Qualifications
28. Refferences
	Name	Designation	Address
	......	...........	.......
	......	...........	.......
	......	...........	.......
29. Any other informations not indicated above
